<!DOCTYPE html>
<html lang="it">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 <link rel="icon" href="favicon.ico" />
  <link href="https://cloud.iloohtechnology.com/cdn/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cloud.iloohtechnology.com/cdn/css/style.min.css" rel="stylesheet">
<style>
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');


 p{
   font-family: 'Raleway', sans-serif;
 }
  h2{
      font-family: 'Raleway', sans-serif;

  }
  li{
    font-family: 'Raleway', sans-serif;
}
  .welcomepng{
margin-left: 350px;
  }
  #sostienielenco{
text-align: center;
  }

  * {
	box-sizing: border-box;
}

  @media (orientation: portrait) {
    .welcomepng{
margin-left: 1px;}
  }
@media (min-width: 768px) and (max-width: 1024px) {

    .welcomepng{
margin-left: 150px;
  }

  }

  #darkmodetoggle{
    margin-left: 420px;
  }
</style>
  <meta name="description" content="Hazen Tech is a project by GiansTech, which it make software.">

  <title>Hazen Tech | Explore </title>
</head>

<body id="page-top">


  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top header-hide" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger font-weight-light" href="https://iloohtechnology.com/explore"><p>HazenTech</p></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">

          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://iloohtechnology.com/explore">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">Informazioni</a>
          </li>

          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#softwareandproject">Software</a>
          </li>

          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#donate">Sostienici</a>
          </li>

          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://iloohtechnology.com/news">News</a>
          </li>

          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://iloohtechnology.com/contact">Contattaci</a>
          </li>
  
        </ul>
      </div>
    </div>
  </nav>

  <!-- #HOME -->
  <section id="home">
    <div class="container mt-5">
      <div class="row align-items-center">
        <div class="yt_video w-100">
          <img class="welcomepng" src="https://cloud.iloohtechnology.com/cdn/css/img/logo/Hazentech3.png" width="450" height="250">
          <br>
          <br /><br />
  </div>
  </section>

  <div class="container">
    <div class="divider"></div>
  </div>
  <!-- #ABOUT -->
  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class="text-center my-5">Informazioni su Di Noi!<br>
            <a class="mx-2" href="https://www.github.com/Hazen-Technologies" target="_blank"><i class="fa fa-github" aria-hidden="true" style="color:#3c5a99;"></i></a>
            <a class="mx-2" href="https://twitter.com/hazen_tech" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true" style="color:#00acee;"></i></a>
            <a class="mx-2" href="https://t.me/hazenthchat" target="_blank"><i class="fa fa-comment" aria-hidden="true" style="color:#0088cc;"></i></a>
          </h2>
          <p>
          La Hazen Tech ( Project ) nasce nel 2021 da un team di 3 persone. <br> La Hazen Tech distribuisce software open source per i sistemi operativi più disparati, fra cui:
          <li>
     Distribuzioni Gnu/Linux ( Arch Linux e derivate, Debian e derivate)
          </li>

          <li>
            Windows
          </li>
          <li>
            MacOS
          </li>
          <li>
            Android
          </li>
          </p>
          <p> Per altre info sulla pagina del <a href="https://iloohtechnology.com/team">team</a>.
          <br>
          Inoltre, seguiteci sul nostro profilo <a href="https://www.github.com/Hazen-Technologies">Github!</a></p>
          <a href="https://www.iubenda.com/privacy-policy/41021649" class="iubenda-black iubenda-noiframe iubenda-embed iubenda-noiframe " title="Privacy Policy ">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
          <script type="text/javascript">var nibirumail_advice_text = 'Il seguente sito web utilizza un tracciamento di cookie a fine di migliorare il servizio. Leggi la nostra <a href="https://iloohtechnology.com/pages/cookie-policy/" target="_blank">cookie policy</a>. <a href="javascript:;" class="nibirumail_agreement">Ok!</a>';</script>
          <script type="text/javascript" src="https://nibirumail.com/docs/scripts/nibirumail.cookie.min.js"></script>
        </div>
      </div>
    </div>
  </section>


  <div class="container">
    <div class="divider"></div>
  </div>

  <!-- #PROGETTI -->
  <section id="softwareandproject">
    <div class="container">
      <h2 class="my-5 text-center">PROGETTI OPEN SOURCE</h2>

      <div class="row">

        <div class="col-md-6 col-lg-3">
          <a class="invisible-link" href="https://github.com/Hazen-Technologies/Hazen-To-Do-List-Android" target="_blank">
            <div class="project">
              <img src="https://cloud.iloohtechnology.com/cdn/css/img/explore/list.png" alt="img">
              <h4>Hazen To Do List</h4>
              <p>Hazen To Do List &eacute; un app per dispositivi android che permette di creare liste to do list in locale.</p>
            </div>
          </a>
        </div>

        <div class="col-md-6 col-lg-3">
          <a class="invisible-link" href="https://github.com/Hazen-Technologies/Hazen-Video-Downloader" target="_blank">
            <div class="project">
              <img src="https://cloud.iloohtechnology.com/cdn/css/img/explore/downloader.png" alt="img">
              <h4>Hazen Video Downloader </h4>
              <p>Hazen Video Downloader &eacute; un software open source con licenza GPL, che permette di scaricare video da Youtube utilizzando la tecnologia ffmpeg e youtube-dl.</p>
            </div>
          </a>
        </div>

        <div class="col-md-6 col-lg-3">
          <a class="invisible-link" href="https://cloud.iloohtechnology.com/" target="_blank">
            <div class="project">
              <img src="https://cloud.iloohtechnology.com/cdn/css/img/explore/hzcloud.png" alt="img">
              <h4>Hazen Cloud</h4>
              <p>Hazen Cloud &eacute; un semplice spazio web dove puoi caricare i tuoi file personali. Basato su NextCloud, &eacute;  affidabile e gratuito. </p>
            </div>
          </a>
        </div>

        <div class="col-md-6 col-lg-3">
          <a class="invisible-link" href="https://github.com/Hazen-Technologies/Hz-Bot-Admin" target="_blank">
            <div class="project">
              <img src="https://cloud.iloohtechnology.com/cdn/css/img/explore/robot.png" alt="img">
              <h4>Hazen Bot Admin</h4>
              <p>Hazen Bot Admin &eacute; il bot telegram interno di Hazen Tech, in sviluppo, per gestire gruppi correlati alla community.  </p>
            </div>
          </a>
        </div>

      </div>

      <p class="mb-5 text-center">
      </p>

    </div>
  </section>

  <div class="container">
    <div class="divider"></div>
  </div>




  <!-- #SOSTIENI -->
  <section id="donate">
    <div class="container">
      <h2 class="my-5 text-center">SOSTIENI</h2>
      <p class="mb-5 text-center">
        Hazen Tech &eacute; un progetto incentrato sulla condivisione software open source alla community. <br> Esso &eacute; composto da un team di tre persone,
        per crescere ha bisogno di pi&uacute; personale. Se vuoi contribuire al nostro progetto, contattaci <a href="https://iloohtechnology.com/contact">qui</a>.<br>
        Inoltre, se vuoi contribuire, puoi donarci delle piccole somme per migliorare la qualit&aacute; dei nostri software.
      </p>

      <div class="row" id="sostienielenco">


        <div class="col-lg-3">
          <div class="text-column">
            <img src="https://cloud.iloohtechnology.com/cdn/css/img/explore/fluid/share.svg" alt="img">
            <h4>Sui nostri social</h4>
            <p>
              Puoi semplicemente seguirci e soprattutto su <strong>Github</strong>, puoi stellare i nostri progetti!
            </p>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="text-column">
            <img src="https://cloud.iloohtechnology.com/cdn/css/img/explore/fluid/donation.svg" alt="img">
            <h4>Donazioni</h4>
            <p>
           Se invece preferisci donarci una somma di denaro adeguata, puoi farlo semplicemente su Patreon!</b>
            </p>
            <a title="Sostieni" href="https://www.patreon.com/HazenTech" class="btn btn-primary mt-auto" target="_blank">Sostieni</a>
          </div>
        </div>

      </div>

    </div>
  </section>
  <div class="container">
    <div class="divider"></div>
  </div>



  <footer class="py-5 bg-dark">
    <div class="container footer">
      <p class="m-0 text-center text-white">
        Made with ❤️ by Hazen Tech Team<br>
      <a style="opacity:0.5;color:white;" href="http://www.freepik.com/" title="Freepik">Icons made by Freepik</a> <a style="opacity:0.5;color:white;" href="https://www.flaticon.com/" title="Flaticon">from www.flaticon.com</a><br>
        <br>
        <a class="mx-2" href="https://github.com/Hazen-Technologies/" target="_blank"><i class="fa fa-github-square" aria-hidden="true"></i></a>
        <a class="mx-2" href="https://twitter.com/hazen_tech" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
        <a class="mx-2" href="https://t.me/hazenthchat" target="_blank"><i class="fa fa-comment" aria-hidden="true" style="color:#0088cc;"></i></a>
      </p>
      
    </div>
  </footer>

  <script src="https://cloud.iloohtechnology.com/cdn/css/vendor/jquery/jquery.min.js"></script>
  <script src="https://cloud.iloohtechnology.com/cdn/css/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="https://cloud.iloohtechnology.com/cdn/css/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="https://cloud.iloohtechnology.com/cdn/js/jquery.fitvids.js"></script>
  <script src="https://cloud.iloohtechnology.com/cdn/js/script.js"></script>
</body>

</html>
