<!DOCTYPE html>
<html lang="it">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 <link rel="icon" href="favicon.ico" />
  <link href="https://cloud.iloohtechnology.com/cdn/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cloud.iloohtechnology.com/cdn/css/style.min.css" rel="stylesheet">
<style>
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');


 p{
   font-family: 'Raleway', sans-serif;
 }
  h2{
      font-family: 'Raleway', sans-serif;

  }
  li{
    font-family: 'Raleway', sans-serif;
}
  .welcomepng{
margin-left: 350px;
  }
  #sostienielenco{
text-align: center;
  }

  @media (orientation: portrait) {
    .welcomepng{
margin-left: 1px;}
  }
@media (min-width: 768px) and (max-width: 1024px) {

    .welcomepng{
margin-left: 150px;
  }

  }
</style>
  <meta name="description" content="Hazen Tech is a project by GiansTech, which it make software.">

  <title>Hazen Tech | Games </title>
</head>

<body id="page-top">


  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top header-hide" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger font-weight-light" href="https://iloohtechnology.com/explore"><p>HazenTech</p></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">

          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://iloohtechnology.com/explore">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">Informazioni</a>
          </li>

          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#softwareandproject">Software</a>
          </li>

          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#donate">Sostienici</a>
          </li>

          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://iloohtechnology.com/news">News</a>
          </li>

          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://iloohtechnology.com/contact">Contattaci</a>
          </li>
  
        </ul>
      </div>
    </div>
  </nav>


  <!-- #HOME -->
  <section id="home">
    <div class="container mt-5">
      <div class="row align-items-center">
        <div class="yt_video w-100">
          <img class="welcomepng" src="https://cloud.iloohtechnology.com/cdn/css/img/logo/Hazentech3.png" width="450" height="250">
          <br>

		<br /><br />

    </div>
  </section>


  <div class="container">
    <div class="divider"></div>
  </div>

  <!-- #PROGETTI -->
  <section id="games">
    <div class="container">
      <h2 class="my-5 text-center">Giochi OPEN SOURCE</h2>

      <div class="row">

        <div class="col-md-6 col-lg-3">
          <a class="invisible-link" href="https://github.com/Hazen-Technologies/Jumping-Forever" target="_blank">
            <div class="project">
              <img src="https://cloud.iloohtechnology.com/cdn/css/img/games/jumpfor.png" alt="img">
              <h4>Jumping Forever</h4>
              <p>Jumping Forever è un platform, il quale si tratta di un gioco 2D , incentrato sull'evitare gli ostacoli.</p>
            </div>
          </a>
        </div>

        <div class="col-md-6 col-lg-3">
          <a class="invisible-link" href="https://github.com/Hazen-Technologies/TornadoRun" target="_blank">
            <div class="project">
              <img src="https://cloud.iloohtechnology.com/cdn/css/img/games/tornadorun.png" alt="img">
              <h4>Tornado Run </h4>
              <p>Tornado Run è un gioco 2D ideato con <a href="https://www.construct.net/en">Construct </a>, dove devi correre per evitare il tornado!</p>
            </div>
          </a>
        </div>

        <div class="col-md-6 col-lg-3">
          <a class="invisible-link" href="https://github.com/Hazen-Technologies/GrydBattle" target="_blank">
            <div class="project">
              <img src="https://cloud.iloohtechnology.com/cdn/css/img/games/battlegryd.png" alt="img">
              <h4>Gryd Battle</h4>
              <p>Gryd Battle è un gioco ispirato all'età medievale in cui dovrai combattere con armi che usavano gli uomini mediavali.</p>
            </div>
          </a>
        </div>

        <div class="col-md-6 col-lg-3">
          <a class="invisible-link" href="https://github.com/Hazen-Technologies/NadaAmazingWorld" target="_blank">
            <div class="project">
              <img src="https://cloud.iloohtechnology.com/cdn/css/img/games/nona.png" alt="img">
              <h4>Nada's Amazing World</h4>
              <p>Nada's Amazing World è un gioco 2D platform in cui esplorerai il mondo di Nada alla ricerca di un misterioso oggetto.</p>
            </div>
          </a>
        </div>

      </div>
    </div>
  </section>

  <div class="container">
    <div class="divider"></div>
  </div>



  <section id="faq">
    <div class="container">
      <h2 class="my-5 text-center">Domande Frequenti & FAQ </h2>
      <p class="mb-5 text-center">
       Hazen Tech distribuisce giochi in maniera open source, ovvero rilasciando l'intero codice sorgente del software permettendo agli sviluppatori di metterci mano.
       Hai qualche domanda da porci riguardante il nostro modo di produrre software oppure vuoi proporci nuovi software? <br> Contatta la mail <a href="mailto:faq@iloohtechnology.com">faq@iloohtechnology.com</a> o via <a href="#"data-toggle="modal" data-target="#exampleModal"> modulo</a>.
      </p>
    </div>
  </section>
  <div class="container">
    <div class="divider"></div>
  </div>

<!-- MODULO -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Richieste</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       <p> In questa sezione puoi compilare il modulo per inviarci una domanda o per proporci nuovi giochi</p>
       <br>
       <form action="https://formsubmit.co/faq@iloohtechnology.com" method="POST">
        <div class="form-group">
          <label for="formGroupExampleInput">Richiesta</label>
          <input type="text"  name="subject" class="form-control" id="formGroupExampleInput" placeholder="Oggetto" required>
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput2">Email</label>
          <input type="email" name="email" class="form-control" id="formGroupExampleInput2" placeholder="Email" required>
        </div>
        <div class="modal-footer">
          <input type="hidden" name="_template" value="box">
          <input type="hidden" name="_next" value="https://iloohtechnology.com/thanks">
          <input type="hidden" name="_captcha" value="false">
        <button type="submit"  class="btn btn-primary">Invia</button>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>

<footer class="py-5 bg-dark">
  <div class="container footer">
    <p class="m-0 text-center text-white">
      Made with ❤️ by Hazen Tech Team<br>
    <a style="opacity:0.5;color:white;" href="http://www.freepik.com/" title="Freepik">Icons made by Freepik</a> <a style="opacity:0.5;color:white;" href="https://www.flaticon.com/" title="Flaticon">from www.flaticon.com</a><br>
      <br>
      <a class="mx-2" href="https://github.com/Hazen-Technologies/" target="_blank"><i class="fa fa-github-square" aria-hidden="true"></i></a>
      <a class="mx-2" href="https://twitter.com/hazen_tech" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
      <a class="mx-2" href="https://t.me/hazenthchat" target="_blank"><i class="fa fa-comment" aria-hidden="true" style="color:#0088cc;"></i></a>
    </p>

  </div>
</footer>

  <script src="https://cloud.iloohtechnology.com/cdn/css/vendor/jquery/jquery.min.js"></script>
  <script src="https://cloud.iloohtechnology.com/cdn/css/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="https://cloud.iloohtechnology.com/cdn/css/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="https://cloud.iloohtechnology.com/cdn/js/jquery.fitvids.js"></script>
  <script src="https://cloud.iloohtechnology.com/cdn/js/script.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>

</body>

</html>
