<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Hazen Tech - Home</title>
  <link rel= "stylesheet" type= "text/css" href= "https://cloud.iloohtechnology.com/cdn/css/style.css">
  <meta name="description" content="Welcome to Hazen Tech's Website. Hazen Tech is a tech teams by GiansTech, the CEO, with FranzaGeek and SincererFlame71">
 <meta name="keywords" content="dark, darknightcore, hazen tech, tecla soft, teams, dev, github, google, amazon, hazen tech, ceo, franzageek, sincererflame71">
  <meta property="og:title" content=" HazenTech Website">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://iloohtechnology.com">
  <meta property="og:description" content="Welcome to Hazen Tech's Website. Hazen Tech is a tech teams by GiansTech, the CEO, whit FranzaGeek and SincererFlame71">
  <meta property="og:locale" content="en">
  <meta property="og:image" content="https://cloud.iloohtechnology.com/cdn/css/img/logo/Hazentech3.png">
</head>
<body>

  <section class="showcase">
    <header>
      <h2 class="logo">Hz Tech</h2>
      <div class="toggle"></div>
    </header>
    <video src="https://cloud.iloohtechnology.com/cdn/videobg/hero.hd.1080p.mp4" muted loop autoplay></video>
    <div class="overlay"></div>
    <div class="text">
      <h2>Hazen Tech </h2>
      <p>A project ... A team ... a community ... This is Hazen Tech</p>
      <a href="https://iloohtechnology.com/explore">Explore</a>
    </div>
  </section>
  <div class="menu">
    <ul>
      <li><a href="https://iloohtechnology.com/explore">Home</a></li>
      <li><a href="https://iloohtechnology.com/news">News</a></li>
      <li><a href="https://iloohtechnology.com/explore">About</a></li>
      <li><a href="https://iloohtechnology.com/explore">Software</a></li>
      <li><a href="https://iloohtechnology.com/contact">Contact</a></li>
    </ul>
  </div>
  <script  src="https://cloud.iloohtechnology.com/cdn/js/index.js"></script>
</body>
</html>
