!DOCTYPE html>
<html lang="it">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 <link rel="icon" href="https://cloud.iloohtechnology.com/cdn/favicon.ico" />
  <link href="https://cloud.iloohtechnology.com/cdn/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cloud.iloohtechnology.com/cdn/css/style.min.css" rel="stylesheet">
<style>
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

 p{
   font-family: 'Raleway', sans-serif;
 }
  h2{
      font-family: 'Raleway', sans-serif;

  }
  li{
    font-family: 'Raleway', sans-serif;
}
  .welcomepng{
margin-left: 350px;
  }


  @media (orientation: portrait) {
    .welcomepng{
margin-left: 1px;}
  }
@media (min-width: 768px) and (max-width: 1024px) {

    .welcomepng{
margin-left: 150px;
  }

  }
</style>
  <meta name="description" content="Hazen Tech is a project by GiansTech, which it make software.">

  <title>Hazen Tech | News </title>
</head>

<body id="page-top">


  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top header-hide" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger font-weight-light" href="https://iloohtechnology.com/explore"><p>HazenTech</p></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">

          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://iloohtechnology.com/explore">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">Informazioni</a>
          </li>

          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#softwareandproject">Software</a>
          </li>

          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#donate">Sostienici</a>
          </li>

          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://iloohtechnology.com/news">News</a>
          </li>

          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://iloohtechnology.com/contact">Contattaci</a>
          </li>
  
        </ul>
      </div>
    </div>
  </nav>
  <!-- #HOME -->
  <section id="home">
    <div class="container mt-5">
      <div class="row align-items-center">
        <div class="yt_video w-100">
          <img class="welcomepng" src="https://cloud.iloohtechnology.com/cdn/css/img/logo/Hazentech3.png" width="450" height="250">
          <br>

		<br /><br />
    <div class="container">
      <div class="divider"></div>
    </div>
    </div>
  </section>






<section id="news">
    <h2 class="text-center"> News </h2>
    <br>
<div id="post">
    <div class="container m-auto mt-3 row">
        <div class="col-8">

      {% for post in posts %}
        <div id="p1" class="card mb-3" style="max-width: 800px;">
            <div class="row g-0">
              <div class="col-md-5">
                <img src="https://cloud.iloohtechnology.com/cdn/css/img/logo/Hazentech3.png" alt="..."  width="450" height="225">
              </div> 
             <div class="col-md-7">
                <div class="card-body">
                  <h5 class="card-title">{{ post.titolo  }}</h5>
                  <p class="card-text">{{ post.descrizione  }}</p>
                  <p> Leggi <a href="https://iloohtechnology.com/news/posts/2022/welcome">l'Articolo</a>.</p>
                </div>
              </div>
            </div>
            </div>
            {% endfor %}
          </div>
        </div>

    </div>
</section>
<footer class="py-5 bg-dark">
  <div class="container footer">
    <p class="m-0 text-center text-white">
      Made with ❤️ by Hazen Tech Team<br>
    <a style="opacity:0.5;color:white;" href="http://www.freepik.com/" title="Freepik">Icons made by Freepik</a> <a style="opacity:0.5;color:white;" href="https://www.flaticon.com/" title="Flaticon">from www.flaticon.com</a><br>
      <br>
      <a class="mx-2" href="https://github.com/Hazen-Technologies/" target="_blank"><i class="fa fa-github-square" aria-hidden="true"></i></a>
      <a class="mx-2" href="https://twitter.com/hazen_tech" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
      <a class="mx-2" href="https://t.me/hazenthchat" target="_blank"><i class="fa fa-comment" aria-hidden="true" style="color:#0088cc;"></i></a>
    </p>

  </div>
</footer>
      <script src="https://cloud.iloohtechnology.com/cdn/css/vendor/jquery/jquery.min.js"></script>
      <script src="https://cloud.iloohtechnology.com/cdn/css/vendor/jquery-easing/jquery.easing.min.js"></script>
      <script src="https://cloud.iloohtechnology.com/cdn/js/jquery.fitvids.js"></script>
      <script src="https://cloud.iloohtechnology.com/cdn/js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>
