<!DOCTYPE html>
<html lang="it">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 <link rel="icon" href="https://cloud.iloohtechnology.com/cdn/favicon.ico" />
  <link href="https://cloud.iloohtechnology.com/cdn/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cloud.iloohtechnology.com/cdn/css/style.min.css" rel="stylesheet">
<style>
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');


 p{
   font-family: 'Raleway', sans-serif;
 }
  h2{
      font-family: 'Raleway', sans-serif;

  }
  .welcomepng{
margin-left: 350px;
  }

  @media (orientation: portrait) {
    .welcomepng{
margin-left: 1px;
width: 440px;
height: 240px;
  }
  }
  @media (min-width: 768px) and (max-width: 1024px) {

      .welcomepng{
  margin-left: 150px;
    }

    }
b{
  color:red;
}

</style>
  <meta name="description" content="Hazen Tech is a project by GiansTech, which it make software.">

  <title>Hazen Tech | Report </title>
</head>

<body id="page-top">


  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top header-hide" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger font-weight-light" href="https://iloohtechnology.com/explore"><p>HazenTech</p></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">

          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://iloohtechnology.com/explore">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">Informazioni</a>
          </li>

          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#softwareandproject">Software</a>
          </li>

          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#donate">Sostienici</a>
          </li>

          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://iloohtechnology.com/news">News</a>
          </li>

          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://iloohtechnology.com/contact">Contattaci</a>
          </li>
  
        </ul>
      </div>
    </div>
  </nav>
  <!-- #HOME -->
  <section id="home">
    <div class="container mt-5">
      <div class="row align-items-center">
        <div class="yt_video w-100">
          <img class="welcomepng" src="https://cloud.iloohtechnology.com/cdn/css/img/logo/Hazentech3.png" width="550" height="300">
          <br>

		<br /><br />

    </div>
  </section>

  <div class="container">
    <div class="divider"></div>
  </div>
  <!-- Contact -->
  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class="text-center my-5">Segnalazioni e Report di Assistenza<br>
            <a class="mx-2" href="https://github.com/Hazen-Technologies/" target="_blank"><i class="fa fa-github" aria-hidden="true" style="color:#3c5a99;"></i></a>
            <a class="mx-2" href="https://twitter.com/hazen_tech" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true" style="color:#00acee;"></i></a>
            <a class="mx-2" href="https://t.me/hazenthchat" target="_blank"><i class="fa fa-comment" aria-hidden="true" style="color:#0088cc;"></i></a>
          </h2>
<p> Qualcosa non va? Don't Worry ( Non preoccuparti), ti è in aiuto il form di segnalazioni e assistenza. <br> <b> Avviso:</b> Il team Hazen Tech si impegna a eliminare richiesta futili.</p>

        </div>
      </div>
      <form action="https://formsubmit.co/report@iloohtechnology.com" method="POST">
      <div class="mb-3">
        <label for="emailadd" class="form-label">Indirizzo Email</label>
        <input type="email" name="email" class="form-control" placeholder="example@iloohtechnology.com" required>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Segnalazione</label>
       <textarea id="subject" name="subject" placeholder="Cosa vuoi dirci? Relativo anche al gruppo telegram" class="form-control"></textarea>
      </div>
      <input type="hidden" name="_next" value="https://iloohtechnology.com/thanks">
      <input type="hidden" name="_template" value="table">
      <input type="hidden" name="_captcha" value="false">
      <button type="submit" class="btn btn-primary">Invia</button>
    </form>
    </div>
  </section>




  <div class="container">
    <div class="divider"></div>
  </div>



  <footer class="py-5 bg-dark">
    <div class="container footer">
      <p class="m-0 text-center text-white">
        Made with ❤️ by Hazen Tech Team<br>
      <a style="opacity:0.5;color:white;" href="http://www.freepik.com/" title="Freepik">Icons made by Freepik</a> <a style="opacity:0.5;color:white;" href="https://www.flaticon.com/" title="Flaticon">from www.flaticon.com</a><br>
        <br>
        <a class="mx-2" href="https://github.com/Hazen-Technologies/" target="_blank"><i class="fa fa-github-square" aria-hidden="true"></i></a>
        <a class="mx-2" href="https://twitter.com/hazen_tech" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
        <a class="mx-2" href="https://t.me/hazenthchat" target="_blank"><i class="fa fa-comment" aria-hidden="true" style="color:#0088cc;"></i></a>
      </p>
  
    </div>
  </footer>

  <script src="https://cloud.iloohtechnology.com/cdn/css/vendor/jquery/jquery.min.js"></script>
  <script src="https://cloud.iloohtechnology.com/cdn/css/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="https://cloud.iloohtechnology.com/cdn/css/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="https://cloud.iloohtechnology.com/cdn/js/jquery.fitvids.js"></script>
  <script src="https://cloud.iloohtechnology.com/cdn/js/script.js"></script>
</body>

</html>
