<!DOCTYPE html>
<html lang="it">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 <link rel="icon" href="https://cloud.iloohtechnology.com/cdn/css/favicon.ico" />
  <link href="https://cloud.iloohtechnology.com/cdn/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cloud.iloohtechnology.com/cdn/css/style.min.css" rel="stylesheet">
<style>
  .welcomepng{
margin-left: 350px;
  }

  @media (orientation: portrait) {
    .welcomepng{
margin-left: 1px;
  }
  }
  @media (min-width: 768px) and (max-width: 1024px) {

      .welcomepng{
  margin-left: 150px;
    }

    }
</style>
  <meta name="description" content="Hazen Tech is a project by GiansTech, which it make software.">

  <title>Hazen Tech | Teams </title>
</head>

<body id="page-top">


  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top header-hide" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger font-weight-light" href="https://iloohtechnology.com/explore"><p>HazenTech</p></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">

          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://iloohtechnology.com/explore">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">Informazioni</a>
          </li>

          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#softwareandproject">Software</a>
          </li>

          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#donate">Sostienici</a>
          </li>

          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://iloohtechnology.com/news">News</a>
          </li>

          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://iloohtechnology.com/contact">Contattaci</a>
          </li>
  
        </ul>
      </div>
    </div>
  </nav>
  <!-- #HOME -->
  <section id="home">
    <div class="container mt-5">
      <div class="row align-items-center">
        <div class="yt_video w-100">
<img class="welcomepng" src="https://cloud.iloohtechnology.com/cdn/css/img/logo/Hazentech350.png">
          <br>

		<br /><br />

    </div>
  </section>

  <div class="container">
    <div class="divider"></div>
  </div>

  <section id="teams">
    <div class="container">
      <h2 class="my-5 text-center">Teams</h2>

      <div class="row">
        <div class="col-md-6 col-lg-3">
          <a class="invisible-link" href="https://gianstech.it/" target="_blank">
            <div class="project">
              <img src="https://cloud.iloohtechnology.com/cdn/css/img/team/gianstech.png" alt="img">
              <h4>GiansTech</h4>
              <p>GiansTech è il fondatore del progetto Hazen Tech, cercando in ogni modo di condividere software open source. <br> Lavora in:
              <br>
                <li>PHP</li>
                <li>Java</li>
                <li>Python</li>
                <li>HTML e CSS</li></p>
               </div>
           </a>
        </div>

        <div class="col-md-6 col-lg-3">
          <a class="invisible-link" href="https://www.youtube.com/c/FranzaGeek" target="_blank">
            <div class="project">
              <img src="https://cloud.iloohtechnology.com/cdn/css/img/team/franzageek.png" alt="img">
              <h4>FranzaGeek</h4>
              <p>FranzaGeek è entrato nel gruppo "Hazen Tech" nel Luglio del 2021 , aiutandoci a programmare software in Batch e altri linguaggi. <br> Ha un canale Youtube nel quale realizza concept di versioni di Windows.</p>
            </div>
          </a>
        </div>

        <div class="col-md-6 col-lg-3">
          <a class="invisible-link" href="https://darknightcore.it" target="_blank">
            <div class="project">
              <img src="https://cloud.iloohtechnology.com/cdn/css/img/team/sincerer.jpg" alt="img">
              <h4>SincererFlame71</h4>
              <p>SincererFlame71 è un membro del team  "Hazen Tech", il quale aiuta con la scrittura del codice nei nostri software.  </p>
            </div>
          </a>
        </div>


        <div class="col-md-6 col-lg-3">
          <a class="invisible-link" href="https://t.me/unusername2021" target="_blank">
            <div class="project">
              <img src="https://cloud.iloohtechnology.com/cdn/css/img/team/luca.jpg" alt="img">
              <h4>Luca</h4>
              <p>Luca è entrato a far parte del gruppo Hazen Tech nel giugno del 2021. Ha fornito aiuto nello scrivere la pagina della gestione degli account.</p>
               </div>
           </a>
        </div>
      </div>
    </div>
  </section>




  <div class="container">
    <div class="divider"></div>
  </div>



  <footer class="py-5 bg-dark">
    <div class="container footer">
      <p class="m-0 text-center text-white">
        Made with ❤️ by Hazen Tech Team<br>
      <a style="opacity:0.5;color:white;" href="http://www.freepik.com/" title="Freepik">Icons made by Freepik</a> <a style="opacity:0.5;color:white;" href="https://www.flaticon.com/" title="Flaticon">from www.flaticon.com</a><br>
        <br>
        <a class="mx-2" href="https://github.com/Hazen-Technologies/" target="_blank"><i class="fa fa-github-square" aria-hidden="true"></i></a>
        <a class="mx-2" href="https://twitter.com/hazen_tech" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
        <a class="mx-2" href="https://t.me/hazenthchat" target="_blank"><i class="fa fa-comment" aria-hidden="true" style="color:#0088cc;"></i></a>
      </p>
  
    </div>
  </footer>


  <script src="https://cloud.iloohtechnology.com/cdn/css/vendor/jquery/jquery.min.js"></script>
  <script src="https://cloud.iloohtechnology.com/cdn/css/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="https://cloud.iloohtechnology.com/cdn/css/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="https://cloud.iloohtechnology.com/cdn/js/jquery.fitvids.js"></script>
  <script src="https://cloud.iloohtechnology.com/cdn/js/script.js"></script>


</body>

</html>
