<!DOCTYPE html>
<html lang="it">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 <link rel="icon" href="favicon.ico" />
  <link href="https://cloud.iloohtechnology.com/cdn/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cloud.iloohtechnology.com/cdn/css/style.min.css" rel="stylesheet">
  <meta name="description" content="Hazen Tech is a project by GiansTech, which it make software.">
<style>
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');


 p{
   font-family: 'Raleway', sans-serif;
 }
  h2{
      font-family: 'Raleway', sans-serif;

  }
.welcomepng{
margin-left: 350px;
}
#sostienielenco{
text-align: center;
}

@media (orientation: portrait) {
  .welcomepng{
margin-left: 2px;
}
}
@media (min-width: 768px) and (max-width: 1024px) {

    .welcomepng{
margin-left: 150px;
  }

  }
</style>
  <title>Hazen Tech | Thanks </title>
</head>

<body id="page-top">


  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top header-hide" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger font-weight-light" href="https://iloohtechnology.com/explore"><p>HazenTech</p></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">

          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://iloohtechnology.com/explore">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">Informazioni</a>
          </li>

          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#softwareandproject">Software</a>
          </li>

          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#donate">Sostienici</a>
          </li>

          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://iloohtechnology.com/news">News</a>
          </li>

          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://iloohtechnology.com/contact">Contattaci</a>
          </li>
  
        </ul>
      </div>
    </div>
  </nav>

  <section id="home">
    <div class="container mt-5">
      <div class="row align-items-center">
        <div class="yt_video w-100">
          <img class="welcomepng" src="https://cloud.iloohtechnology.com/cdn/css/img/logo/Hazentech350.png">
		<br /><br />

    </div>
  </section>

  <div class="container">
    <div class="divider"></div>
  </div>

  <section id="thanks">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class="text-center my-5">Thanks!<br>
          </h2>
          <p>


          Grazie per esserti iscritto al forum di contatto Hazen Tech. <br>Riceverai un'email quando il nostro team acceterà la richiesta.


        </p>

        </div>
      </div>
    </div>
  </section>
  <div class="container">
    <div class="divider"></div>
  </div>

  <section id="ads">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
        <h2 class="text-center"> Hai Dubbi?</h2>
        <br>
        <p>Noi di Hazen Tech siamo un team che realizza software open source.<br> Hai dubbi sul nostro progetto? <br> <a href="https://iloohtechnology.com/contact">Contattaci</a> o entra nel <a href="https://t.me/hazenthchat"> canale telegram</a>.</p>
        </div>
      </div>
    </div>
  </section>
  <div class="container">
    <div class="divider"></div>
  </div>




  <footer class="py-5 bg-dark">
    <div class="container footer">
      <p class="m-0 text-center text-white">
        Made with ❤️ by Hazen Tech Team<br>
      <a style="opacity:0.5;color:white;" href="http://www.freepik.com/" title="Freepik">Icons made by Freepik</a> <a style="opacity:0.5;color:white;" href="https://www.flaticon.com/" title="Flaticon">from www.flaticon.com</a><br>
        <br>
        <a class="mx-2" href="https://github.com/Hazen-Technologies/" target="_blank"><i class="fa fa-github-square" aria-hidden="true"></i></a>
        <a class="mx-2" href="https://twitter.com/hazen_tech" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
        <a class="mx-2" href="https://t.me/hazenthchat" target="_blank"><i class="fa fa-comment" aria-hidden="true" style="color:#0088cc;"></i></a>
      </p>
  
    </div>
  </footer>

  <script src="https://cloud.iloohtechnology.com/cdn/css/vendor/jquery/jquery.min.js"></script>
  <script src="https://cloud.iloohtechnology.com/cdn/css/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="https://cloud.iloohtechnology.com/cdn/css/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="https://cloud.iloohtechnology.com/cdn/js/jquery.fitvids.js"></script>
  <script src="https://cloud.iloohtechnology.com/cdn/js/script.js"></script>

</body>

</html>
